name: Native Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  native-test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Build & Run Tests
        run: make test
